#preview-address {
  white-space: pre-wrap; /* Preserve line breaks and spaces */
  word-wrap: break-word; /* Wrap long words */
  line-height: 1.5rem;   /* Adjust line height for readability */
}



/* Ensure the content wraps properly and does not overlap */
#cv-education li {
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.5rem;
}

/* Add padding and spacing between items if required */
#cv-education li span {
  padding: 0 0.25rem;
}
